<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="/assets/css/find-id.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Gowun+Dodum&family=Do+Hyeon&family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
</head>
<body>
  <div class="r-container">
    
        <div class="image-container">			
				<div class="image">
						<img src="/images/pet13.jpg" alt="" />
				</div>
			</div>
			
    <div class="container">
        <form id="findIdForm" action="#" method="POST" class="find-id-form">
        <h1>아이디 찾기</h1>
            <!-- 이메일 입력 -->
            <div class="form-group">
                <label for="email">이메일</label>
                <div class="i-b-group">
	                <input type="email" id="email" name="email" placeholder="가입한 이메일을 입력하세요" required>
	                <button type="button" id="emailVerificationButton" class="btn">인증 요청</button>
                </div>
	                <div id="emailError" class="error-message"></div>
            </div>
            
            <!-- 인증 코드 입력 -->
            <div class="form-group">
                <label for="verificationCode">인증 코드</label>
                <div class="i-b-group">
	                <input type="text" id="verificationCode" name="verificationCode" placeholder="인증 코드를 입력하세요" required disabled>
	                <button type="button" id="verificationCodeButton" class="btn" disabled>코드 확인</button>
            	</div>
	                <div id="verificationCodeError" class="error-message"></div>
            </div>
            
            <!-- 아이디 찾기 -->
            <button type="submit" id="findIdButton" class="btn" disabled>아이디 찾기</button>
            
            <a href="/user/login" class="btn">로그인하러 가기</a>
        </form>
        <!-- 결과 메시지 -->
        <div id="result" class="result-message hidden"></div>

    </div>
   </div>
    <script src="/assets/js/find-id.js"></script>
</body>
</html>
