<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <h2>로그인</h2>
    <form action="/user/login" method="POST" th:object="${userLogin}">
        <label for="userId">아이디:</label>
        <input type="text" id="userId" name="userId" required th:field="*{userId}"/>
        <span th:if="${#fields.hasErrors('userId')}" th:text="${#fields.errors('userId')}"></span>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required th:field="*{password}"/>
        <span th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')}"></span>

        <button type="submit">로그인</button>
    </form>

    <div class="signup-social-container">
    <a href="/user/register" class="btn-signup">회원가입</a>
    <a th:href="@{/oauth2/authorization/google}" class="btn-google">
        <img src="/assets/css/images/google-icon.png" alt="Google Logo" class="google-icon" />
        Google 로그인
    </a>
</div>


    <script src="/assets/js/login.js"></script>
</body>
</html>
