/*2/7*/
h1, h2, h3, p, ul, li, a, input, button, filter, select, textarea, div {
	font-family: 'Gowun Dodum', sans-serif;
}
.container {
    width: 100%;
}
.modal-content {
   
}
.form-control {
    border-radius: 5px;
}
.btn-primary {
    background-color: pink;
    border-color: pink;
}
.btn-primary:hover {
    background-color: pink;
    border-color: pink;
}
.category-icons span {
    margin-right: 8px;
    font-size: 18px;
}
.modal-header {
	margin-bottom : 15px;
}
#placeList li {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd; /* 항목 구분선 */
    font-size: 14px;
    cursor: pointer;
}