.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.form-control {
    border-radius: 5px;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.category-icons span {
    margin-right: 8px;
    font-size: 18px;
}
.modal-header {
	margin-bottom : 15px;
}
#placeList li {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd; /* 항목 구분선 */
    font-size: 14px;
    cursor: pointer;
}