
<!DOCTYPE HTML>
<html>
<head>
<title>もふもふ</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Jua&family=Gowun+Dodum&family=Do+Hyeon&family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
<noscript>
	<link rel="stylesheet" href="assets/css/noscript.css" />
</noscript>

</head>
<body class="landing is-preload">

	<!-- Page Wrapper -->

	<div id="page-wrapper">

		<!-- Banner -->
		<section id="banner">
		<div class="banner-container">
		
			<div class="image-container">			
				<div class="image">
						<img src="images/pet13.jpg" alt="" />
				</div>
			</div>
			
		<div class="inner-container">
			
			<div class="inner">
				<div class="logo">		
	    				<img src="/images/logo2.jpg" alt="로고 이미지" class="logoimage" />	
				</div>
				<p>
					당신의 반려동물과의 소중한 일상을 기록하고 관리하세요!<br /> <br />
				</p>
				
				<div class="container">
        <div class="login-form">
            
            <form action="/user/login" method="POST">
                <div class="form-group">
                    <label for="userId" style="color:pink">아이디</label>
                    <input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요" required>
                </div>
                <div class="form-group">
                    <label for="password" style="color:pink">비밀번호</label>
                    <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
                </div>
                
                <div class="login-btn" style=" display: flex; justify-content: center;">
	                <!-- 소셜 로그인 버튼 -->
		            <div class="social-login" style="margin-right:40px;">
		                <a href="/oauth2/authorization/google" class="btn social-btn google">
		                    Google로 로그인
		                </a>
		            </div>
		            <!-- 페이지 로그인 -->
	                <!-- <button type="submit" class="btn" style="color:pink; border:2px solid pink">로그인</button> -->
	                <a href="#" class="text-button" onclick="document.querySelector('form').submit();">로그인</a>
                </div>
                
            </form>
            <div class="additional-links">
                <a href="/user/find-id">아이디 찾기</a>
                <a href="/user/reset-password" style="margin:10px;">비밀번호 찾기</a>
                <a href="/user/register">회원가입</a>
            </div>
            
        </div>
    </div>
				

			</div>
			</div>
			
		
		
		
        
		</div>
			
			<a href="#one" class="more scrolly">Learn More <i class="fa-solid fa-arrow-down"></i> </a>
		</section>

		<!-- One -->
		<section id="one" class="wrapper style1 special">
			<div class="inner">
				<header class="major">
					<h2>
						소개<br />
					</h2>
					<p>
						요즘 반려동물을 가족처럼 여기는 사람들이 많아지면서, 반려동물과의 추억을 기록하고 정보를 공유할 수
						있는 공간에 대한 필요성이 커지고 있습니다. 이 사이트는 반려동물의 일상과 건강 관리를 손쉽게 도와주는
						웹 플랫폼입니다.<br> 사용자는 반려동물의 프로필을 작성하고, 소중한 일상들을 사진과 글로 남길 수 있으며,<br>
						다양한 주제의 커뮤니티 게시판을 통해 다른 반려인들과 경험을 나눌 수 있습니다.<br> 또한, 반려동물과 함께
						방문할 수 있는 카페, 공원, 병원, 유치원 등 다양한 장소를 검색하고 추천받을 수 있는 기능도
						제공합니다.<br> 이 사이트는 반려동물과의 시간을 더욱 특별하게 만들어줄 디지털 동반자가
						되고자 합니다.
					</p>
					<h2>
						비전<br />
					</h2>
					<p>
						"사람과 반려동물이 함께 더 행복해지는 세상”을 목표로, 이 플랫폼은 단순히 스케줄을 관리하는 도구를 넘어 반려동물과 사람을 연결하고, 공감과 소통의 커뮤니티를 만드는 것을 지향합니다.
					</p>
				</header>
				<ul class="icons major">
					<li><span class="icon fa-calendar-alt major style1"><span
							class="label">캘린더</span></span></li>
					<li><span class="icon fa-heart major style2"><span
							class="label">피드</span></span></li>
					<li><span class="icon fa-comments major style3"><span
							class="label">게시판</span></span></li>
					<li><span class="icon fa-flag major style4"><span
							class="label">장소추천</span></span></li>
				</ul>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper alt style2">
			<section class="spotlight">
				<div class="image">
					<img src="images/petCalendar.jpg" alt="" />
				</div>
				<div class="content">
					<h2 style="color:pink;">
						Calendar<br />
					</h2>
					<h2 style="color:pink;">
						캘린더로 일정을 관리하세요<br />
					</h2>
					<p>
						예방접종 일정, 병원 방문 날짜, 약물 복용 기간 등 반려동물의 건강과 <br> 관련된 중요한 일정들을 한눈에
						확인하고 체계적으로 관리할 수 있는 캘린더 기능을 제공합니다.<br> 반려동물의 건강을 지키기 위해 필요한
						정보를 캘린더에 기록하고, <br> 효율적으로 관리하세요
					</p>
				</div>
			</section>
			<section class="spotlight">
				<div class="image">
					<img src="images/petFeed3.jpg" alt="" />
				</div>
				<div class="content-l">
					<h2 style="color:pink;">
						Feed<br />
					</h2>
					<h2 style="color:pink;">
						반려동물의 하루를 적어보세요<br />
					</h2>
					<p>
						반려동물과 함께한 하루의 특별한 순간들을 기록해보세요. 귀여운 사진과 따뜻한 글로<br> 추억을 남길 수 있는
						일지 작성 기능은 반려동물과의 일상을 <br>더욱 의미 있게 만들어줍니다.<br> 반려동물의 성장 과정을 시간순으로
						정리하고, 필요한 경우 언제든지 다시 확인할 수 있어 소중한 순간을 놓치지 않도록 돕습니다.
					</p>
				</div>
			</section>
			<section class="spotlight">
				<div class="image">
					<img src="images/petBoard2.jpg" alt="" />
				</div>
				<div class="content">
					<h2 style="color:pink;">
						Notice board<br />
					</h2>
					<h2 style="color:pink;">
						커뮤니티<br />
					</h2>
					<p>
						다른 반려인들과 정보를 나누고 소통할 수 있는 커뮤니티 게시판을 통해 <br> 반려동물 관련 경험과 팁을
						공유하세요. <br> 특정 상황에서 유용한 조언을 얻거나, 반려동물을 키우는 즐거움과 <br> 고민을
						함께 나눌 수 있는 공간입니다. <br> 여러분의 이야기와 정보를 통해 커뮤니티를 더욱 풍성하게 만들어보세요.
					</p>
				</div>
			</section>
		<section class="spotlight">
			<div class="image">
				<img src="images/petLocation2.jpg" alt="" />
			</div>
			<div class="content-l">
				<h2 style="color:pink;">
					Location&Review<br />
				</h2>
				<h2 style="color:pink;">
					장소추천<br />
				</h2>
				<p>
					반려동물과 함께 방문할 수 있는 카페, 공원, 병원, 유치원 등 다양한 장소를 <br> 검색하고 추천받아보세요.
					<br> 지도 기반 길찾기 기능을 통해 목적지까지 손쉽게 찾아갈 수 있으며, <br> 사용자 리뷰와
					평점을 참고해 최적의 장소를 선택할 수 있습니다. <br> 반려동물과 함께 특별한 시간을 보낼 수 있는 장소를
					모후모후에서 손쉽게 찾아보세요!
				</p>
			</div>
		</section>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper style3 special">
			<div class="inner">
				<header class="major">
					<h2>반려동물과 함께하는 특별한 경험</h2>
					<p>
						반려동물의 일상부터 건강 관리까지, 모후모후는 당신과 반려동물의 소중한 시간을 기록하고<br /> 더 특별하게
						만들어주는 디지털 동반자가 되어드립니다.
					</p>
				</header>
				<ul class="features">
					<li class="icon fa-paper-plane">
						<h3>프로필 관리</h3>
						<p>반려동물의 기본 정보와 특성을 입력하고 관리할 수 있습니다.</p>
					</li>
					<li class="icon solid fa-laptop">
						<h3>캘린더 기능</h3>
						<p>예방접종, 병원 방문 등 중요한 일정을 손쉽게 관리하세요.</p>
					</li>
					<li class="icon solid fa-code">
						<h3>커뮤니티</h3>
						<p>다른 반려인들과 경험을 공유하고 다양한 정보를 나눌 수 있습니다.</p>
					</li>
					<li class="icon solid fa-headphones-alt">
						<h3>일상 기록</h3>
						<p>사진과 글로 반려동물의 소중한 하루를 기록하세요.</p>
					</li>
					<li class="icon fa-heart">
						<h3>장소 추천</h3>
						<p>반려동물과 함께할 수 있는 장소를 검색하고 리뷰를 확인하세요</p>
					</li>
					<li class="icon fa-flag">
						<h3>もふもふ</h3>
						<p>모후모후가 여러분의 반려동물과 함께하는 소중한 일상을 함께하겠습니다!</p>
					</li>
				</ul>
			</div>
		</section>

		<!-- CTA -->
		<section id="cta" class="wrapper style4">
			<div class="inner">
				<header>
					<h2>지금 바로 시작해보세요!</h2>
					<p style="color:pink">회원가입을 통해 반려동물과의 추억을 기록하고 특별한 기능을 경험해보세요.</p>
				</header>
				<ul class="actions stacked">
					<li><a href="#" class="button fit primary">맨 위로</a></li>
				</ul>
			</div>
		</section>

		
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>