/* 모달 창 스타일 */
#eventModal {
	display: none; /* 초기에는 보이지 않도록 설정 */
	position: fixed; /* 요소를 화면에 고정시킵니다 (스크롤 시에도 위치가 변하지 않음) */
	background: white; /* 배경 색을 아주 옅은 파란색으로 설정 */
	padding: 20px; /* 내부 여백 */
	z-index: 1000; /* 화면 위에 표시되도록 설정 */
	left: 50%; /* 화면 중앙 정렬 */
	top: 50%; /* 화면 중앙 정렬 */
	transform: translate(-50%, -50%); /* 화면 중앙으로 이동 */
	border: 2px solid #FFD1DC; /* 파란색 창 테두리 */
	width: 400px; /* 고정 너비 */
	border-radius: 10px; /* 테두리 둥글게 설정 */
}

label { /* 입력창과의 간격조절 */
	display: block;
	margin-bottom: 5px;
}

input[type="text"], textarea { /* 일정명, 일정내용 */
	width: 380px; /* 입력창 너비 */
	padding: 10px; /* 입력창 내부 여백 */
	margin-bottom: 10px; /* 입력창 아래 여백 */
	border: 1px solid #FF3399; /* 파란색 입력창 테두리 */
	border-radius: 5px; /* 테두리 둥글게 설정 */
}

input[type="date"], input[type="time"] { /* 일자, 시간 */
	width: 180px; /* 입력창 너비 */
	padding: 10px; /* 입력창 내부 여백 */
	margin-bottom: 10px; /* 입력창 아래 여백 */
	border: 1px solid #FF3399; /* 파란색 입력창 테두리 */
	border-radius: 5px; /* 테두리 둥글게 설정 */
}

.time-container { /* 일자, 시간창을 같은 줄에 놓기*/
	display: flex; /*flex 레이아웃을 사용하여 컨테이너 안의 요소들이 가로로 배치*/
	justify-content: space-between; /* 항목들 사이에 동일한 간격을 두어 양 끝으로 배치*/
}

#petSelect {
    margin-bottom: 15px; /* 반려동물 선택창 아래 여백 추가 */
}

button {
	padding: 10px 20px; /* 버튼 내부 여백 (위아래) (좌우) */
	background-color: #FFD1DC; /* 버튼 색상 */
	color: white; /* 버튼 글자 색상 */
	border: none; /* 테두리 제거 */
	border-radius: 5px; /* 테두리 둥글게 설정 */
	cursor: pointer; /* 마우스 커서 변경 */
}

.button-container button {
	margin-right: 15px; /* 버튼 사이의 간격 설정 */
}

/* .button-container: 버튼들을 같은 줄에 배치 */
.button-container {
	display: flex; /* flexbox 레이아웃을 사용하여 버튼들을 수평으로 배치 */
	justify-content: center;
	gap: 10px; /* 버튼들 사이에 일정한 간격을 추가 (15px를 gap으로 변경 가능) */
}

/* 색상 선택기 설정 */
#eventColorSelect {
	margin-bottom: 15px;
}

#filterDropdown {
	display: inline-block;
	margin-left: 10px; /* 캘린더 버튼과 간격 */
	vertical-align: middle; /* 수직 정렬 */
}

#filterDropdown label {
	margin-right: 5px; /* 라벨과 드롭다운 간격 */
	font-size: 14px;
}

#filterDropdown select {
	padding: 5px 10px;
	font-size: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#searchModal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	z-index: 1000;
}

#modalBackdrop {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#resultsList {
	list-style: none;
	padding: 0;
}

#resultsList li {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}

#closeSearchModal {
	margin-top: 10px;
	padding: 5px 10px;
	border: none;
	background: #87CEFA;
	color: #fff;
	border-radius: 5px;
}